{% extends 'base.html' %}
{% load cloudinary %}

{% block container %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow">
                <div class="card-header py-3 d-flex justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Listado de Médicos</h6>
                    <a href="{% url 'main:nuevo_medico' %}" class="">
                        Nuevo Médico
                    </a>

                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Especialidad</th>
                        <th>Acciones</th>
                        </thead>
                        <tbody>
                        {% for medico in medicos %}
                            <tr>
                                <td>{{ medico.get_full_name }}</td>
                                <td>{{ medico.telefono }}</td>
                                <td>
                                    {% for especialidad in medico.especialidades.all %}
                                        <li> {{ especialidad.especialidad }} </li>
                                    {% endfor%}
                                </td>
                                <td class="flex">
                                    <a href=""
                                       class="btn btn-sm btn-info mr-2">Editar</a>
{#                                    <a href=""#}
{#                                       class="btn btn-warning btn-sm">Imprimir</a>#}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}