{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_style %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
{% endblock %}

{% block container %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="alert d-none text-white"></div>
    <div class="doctor-form row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Nuevo Médico</h6>
                </div>
                <div class="card-body">
                    <form action="" method="post" name="doctor-form" id="doctor-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h4>Datos Personales</h4>
                                <hr>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_nombre">Nombre</label>
                                    {{ form.nombre }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_primer_apellido">Primer Apellido</label>
                                    {{ form.primer_apellido }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_segundo_apellido">Segundo Apellido</label>
                                    {{ form.segundo_apellido }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_fecha">Fecha de Nacimiento</label>
                                    {{ form.fecha_nacimiento }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_genero">Género</label>
                                    {{ form.genero }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_telefono">Teléfono</label>
                                    {{ form.telefono }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_email">e-Mail</label>
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4>Datos Médicos</h4>
                                <hr>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_especialidades">Especialidad</label>
                                    {{ form.especialidad }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_institucion">Institucion</label>
                                    {{ form.institucion }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_cedula">Cedula</label>
                                    {{ form.cedula }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button type="submit" class="btn btn-info btn-save-doctor">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

    <script>
        $(function () {

            $('select').select2()
            $('#id_fecha_nacimiento').datetimepicker({
                format: 'Y-m-d',
                step: 30
            });
        })


    </script>
{% endblock %}