{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.css">
{% endblock %}
{% block custom_js %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/locales/es.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'es',
                initialView: 'dayGridMonth',
                selectable: true,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: {
                    url: '{% url 'main:cargar_eventos' %}'
                },
                select: function (info) {
                    const btnShowModal = document.getElementById('btn-show-doctor-time');
                    btnShowModal.click();
                    const inicio = document.getElementById('inicio-cita-especialista');
                    const fin = document.getElementById('fin-cita-especialista');
                    inicio.value = info.startStr;
                    fin.value = info.endStr;

                },
                eventClick: function (info) {
                    const extendedProps = info.event.extendedProps;
{#                    const btnShowModal = document.getElementById('btn-show-modal');#}
{#                    btnShowModal.click();#}
{#                    doctor.value = extendedProps.doctor;#}
{#                    evento.value = extendedProps.evento;#}
{#                    inicio.value = info.event.startStr;#}
                    console.log(extendedProps.evento)
                    window.location.href = "/especialistas/borrar-evento/"+extendedProps.evento
                }

            });

            calendar.render();
        });


    </script>
{% endblock %}
{% block container %}
    <div class="row">
        {% if messages %}
            <ul class="alert-danger alert">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-12">
        <div id="calendar"></div>
    </div>
    {% include 'medico/asignar_tiempo_medico.html' %}
{% endblock %}