{% extends 'base.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% cloudinary_includes %}
{% cloudinary_js_config %}
{% block custom_style %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Nuevo Paciente</h6>
                </div>

                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_nombre">Nombre</label>
                                    {{ paciente_form.nombre }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_primer_apellido">Primer Apellido</label>
                                    {{ paciente_form.primer_apellido }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_segundo_apellido">Segundo Apellido</label>
                                    {{ paciente_form.segundo_apellido }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_fecha">Fecha de Nacimiento</label>
                                    {{ paciente_form.fecha_nacimiento }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_genero">Género</label>
                                    {{ paciente_form.genero }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_telefono">Teléfono</label>
                                    {{ paciente_form.telefono }}
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="id_email">Email</label>
                                    {{ paciente_form.email }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {{ historia_clinica_form.as_p }}
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-info">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        $(function () {
            $('input,select').addClass('form-control')
            $('#id_fecha_nacimiento').datetimepicker({
                format: 'Y-m-d',
                step: 30
            });
        })

    </script>
{% endblock %}