{% extends 'base.html' %}
{% load cloudinary %}
{% block custom_style %}
    <style>
    label {
        text-transform: capitalize;
    }
    </style>
{% endblock %}
{% load staticfiles %}
{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center">Datos personales</h3>
            <hr>
        </div>
        <div class="col-sm-6 col-md-2">
            {% cloudinary paciente.image format="jpg" width=120 height=80 crop="fill" %}
        </div>
        <div class="col col-sm-6 col-md-3">
            <label class="bold" for="">Nombre Completo</label>
            <p>{{ paciente }}</p>
        </div>
        <div class="col-md-2">
            <label class="bold" for="">Fecha Nacimiento</label>
            <p>{{ paciente.fecha_nacimiento }}</p>
        </div>
        <div class="col-md-2">
            <label class="bold" for="">Teléfono</label>
            <p>{{ paciente.telefono }}</p>
        </div>
        <div class="col-md-1">
            <label class="bold" for="">Genero</label>
            <p>{{ paciente.genero }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">Dirección</label>
            <p>{{ paciente.direccion }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center">Datos Médicos</h3>
            <hr>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">fecha</label>
            <p>{{ historia_clinica.fecha }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">folio</label>
            <p>{{ historia_clinica.folio }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">nombre madre</label>
            <p>{{ historia_clinica.nombre_madre }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">ocupacion madre</label>
            <p>{{ historia_clinica.ocupacion_madre }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">telefono madre</label>
            <p>{{ historia_clinica.telefono_madre }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">nombre padre</label>
            <p>{{ historia_clinica.nombre_padre }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">ocupacion_padre</label>
            <p>{{ historia_clinica.ocupacion_padre }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">telefono_padre</label>
            <p>{{ historia_clinica.telefono_padre }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">estado_civil</label>
            <p>{{ historia_clinica.estado_civil }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">escolaridad menor</label>
            <p>{{ historia_clinica.escolaridad_menor }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">nombre colegio</label>
            <p>{{ historia_clinica.nombre_colegio }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">grado cursa</label>
            <p>{{ historia_clinica.grado_cursa }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">diagnostico medico</label>
            <p>{{ historia_clinica.diagnostico_medico }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">motivo consulta</label>
            <p>{{ historia_clinica.motivo_consulta }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">observaciones generales</label>
            <p>{{ historia_clinica.observaciones_generales }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">remitido por</label>
            <p>{{ historia_clinica.remitido_por }}</p>
        </div>
        <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">servicio_solicitado</label>
            <p>{{ historia_clinica.servicio_solicitado }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-center">Información administrativa</h3>
            <hr>
        </div>
         <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">terapia fisica</label>
            <p>{{ historia_clinica.terapia_fisica }}</p>
        </div>
         <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">terapia ocupacional</label>
            <p>{{ historia_clinica.terapia_ocupacional }}</p>
        </div>
         <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">psicologia</label>
            <p>{{ historia_clinica.psicologia }}</p>
        </div>
         <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">neuropsicologia</label>
            <p>{{ historia_clinica.neuropsicologia }}</p>
        </div>
         <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">psicopedagogia</label>
            <p>{{ historia_clinica.psicopedagogia }}</p>
        </div>
         <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">terapia lenguaje</label>
            <p>{{ historia_clinica.terapia_lenguaje }}</p>
        </div>
    </div>
    <div class="row">
      <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">neuroterapia</label>
            <p>{{ historia_clinica.neuroterapia }}</p>
        </div>
      <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">fecha cita</label>
            <p>{{ historia_clinica.fecha_cita }}</p>
        </div>
      <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">profesional cargo</label>
            <p>{{ historia_clinica.profesional_cargo }}</p>
        </div>
      <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">costo valoracion</label>
            <p>{{ historia_clinica.costo_valoracion }}</p>
        </div>
      <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">costo terapias</label>
            <p>{{ historia_clinica.costo_terapias }}</p>
        </div>
      <div class="col col-sm-6 col-md-2">
            <label class="bold" for="">nombre entrevistador</label>
            <p>{{ historia_clinica.nombre_entrevistador }}</p>
        </div>
    </div>


{% endblock %}