{% extends 'base.html' %}
{% load cloudinary %}
{% block custom_style %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}
{% block container %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow">
                <div class="card-header py-3 d-flex justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Listado de pacientes</h6>
                    <a href="{% url 'pacientes:nuevo_paciente' %}" class="">
                        Nuevo paciente
                    </a>

                </div>
                <div class="card-body">
                    <table class="table" id="paciente-tabla">
                        <thead>
                        <th>Folio</th>
                        <th>Nombre</th>
{#                        <th>Género</th>#}
                        <th>Fecha De Nacimiento</th>
                        <th>Edad</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                        </thead>
                        <tbody>
                        {% for paciente in pacientes %}
                            <tr>
                                <td>{{ paciente.folio }}</td>
                                <td>{{ paciente.get_full_name }}</td>
{#                                <td>{% if paciente.genero == 0 %} M {% else %} F {% endif %}</td>#}
                                <td>{{ paciente.fecha_nacimiento| date:"d/M/Y" }}</td>
                                <td>{{ paciente.get_edad }}</td>
                                <td><strong>{{ paciente.estado }}</strong></td>
                                <td class="flex">

                                    <a href="{% url 'pacientes:historia_clinica' paciente_id=paciente.pk %}"
                                       class="btn btn-sm btn-success mr-2">Ver historial</a>
                                    <a href="{% url 'pacientes:editar_paceinte' paciente_id=paciente.pk %}"
                                       class="btn btn-sm btn-info mr-2">Editar</a>
                                    {#                                    <a href="{% url 'pacientes:ver_pdf_historia' paciente_id=paciente.pk %}"#}
                                    {#                                       class="btn btn-warning btn-sm">Imprimir</a>#}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#paciente-tabla').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json'
                }
            });
        });
    </script>
{% endblock %}