{% extends 'base.html' %}
{% load cloudinary %}

{% block container %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow">
                <div class="card-header py-3 d-flex justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Listado de pacientes</h6>
                    <a href="{% url 'pacientes:nuevo_paciente' %}" class="">
                        Nuevo paciente
                    </a>

                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Género</th>
                        <th>Fecha De Nacimiento</th>
                        <th>Acciones</th>
                        </thead>
                        <tbody>
                        {% for paciente in pacientes %}
                            <tr>
                                <td>{{ paciente.get_full_name }}</td>
                                <td>{{ paciente.telefono }}</td>
                                <td>{% if paciente.genero == 0 %} M {% else %} F {% endif %}</td>
                                <td>{{ paciente.fecha_nacimiento| date:"d/M/Y" }}</td>
                                <td class="flex">

                                    <a href="{% url 'pacientes:historia_clinica' paciente_id=paciente.pk %}"
                                       class="btn btn-sm btn-success mr-2">Ver historia</a>
                                    <a href="{% url 'pacientes:editar_paceinte' paciente_id=paciente.pk %}"
                                       class="btn btn-sm btn-info mr-2">Editar</a>
                                    <a href="{% url 'pacientes:ver_pdf_historia' paciente_id=paciente.pk %}"
                                       class="btn btn-warning btn-sm">Imprimir</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}