{% extends 'base.html' %}

{% block container %}

    <div class="row">
        <div class="col-12">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %}
                            class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-sm-12">
            <div class="card shadow">
                <div class="card-header py-3 d-flex justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Listado de Gastos</h6>
                    <a href="{% url 'contabilidad:nuevo_gastos' %}" class="">
                        Nuevo Gasto
                    </a>

                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <th>Fecha</th>
                        <th>Descripcion</th>
                        <th>Subcuenta</th>
                        <th>Entidad</th>
                        <th>Forma pago</th>
                        <th>Recibo</th>
                        <th>Lugar</th>
                        <th>Factura</th>
                        <th>Total</th>
                        <th>Acciones</th>
                        </thead>
                        <tbody>
                        {% for gasto in gastos %}
                            <tr>
                                <td>{{ gasto.fecha|date:"d-m-Y" }}</td>
                                <td>{{ gasto.descripcion }}</td>
                                <td>
                                    {{ gasto.subcuenta.nombre }}
                                </td>
                                <td>{{ gasto.entidad }}</td>

                                <td>{{ gasto.forma_pago.nombre }}</td>
                                <td>{{ gasto.recibo }}</td>
                                <td>{{ gasto.lugar.nombre }}</td>
                                <td>{{ gasto.factura }}</td>
                                <td>{{ gasto.total }}</td>
                                <td class="flex">
                                    <a href="{% url 'contabilidad:editar_gastos' gasto_id=gasto.pk %}"
                                       class="btn btn-sm btn-info mr-2">Editar</a>
                                    {#                                    <a href=""#}
                                    {#                                       class="btn btn-warning btn-sm">Imprimir</a>#}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}