{% extends 'base.html' %}
{% block container %}
    <div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Confirmación de borrado</h6>
        </div>
        <div class="card-body">
            <form method="post" action="#">
                {% csrf_token %}
                <div class="row">
                    {% if cita %}
                        <div class="col-12">
                            <div class="alert alert-danger">
                                <p>Este espacio ya tiene una cita asignada para:
                                    <b>{{ cita.paciente.nombre }} {{ cita.paciente.primer_apellido }}</b></p>
                                <p><b>¿CONFIRMA QUE LO QUIERE BORRAR?</b></p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group col-6">
                        <div class="alert alert-warning">Si, quiero borrar solo este espacio para:
                            <b>{{ cita.paciente.nombre }} {{ cita.paciente.primer_apellido }} a las {{ evento.hora_inicio|date:"d-m-Y H:s" }}</b></div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="eventoRecurrente"
                                   id="eventoRecurrenteSi" checked value="no-recurrente">
                            <label class="form-check-label" for="eventoRecurrenteSi">
                                Si
                            </label>
                        </div>
                    </div>


                    <div class="form-group col-6">
                        <div class="alert alert-warning">Si, quiero borrar todos los espacios del <b>{{ dia_semana }} para
                            {{ cita.paciente.nombre }} {{ cita.paciente.primer_apellido }}</b>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="eventoRecurrente"
                                   id="eventoRecurrenteNo" value="si-recurrente">
                            <label class="form-check-label" for="eventoRecurrenteNo">
                                Si
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <label for="">Debe indicar la causa de esta acción</label>
                        <textarea name="motivo" id="motivo" cols="30" rows="10" required></textarea>
                        <button class="btn btn-danger mt-3" type="submit">Si, Seguro</button>
                        <div class="btn btn-outline-primary ml-5  mt-3" onclick=" window.history.back();">No, quiero
                            regresar
                        </div>

                    </div>
                </div>

            </form>

        </div>
    </div>
{% endblock %}