{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.css">
{% endblock %}
{% block custom_js %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                selectable: true,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                {% autoescape off %}
                    events: {{ eventos }},
                {% endautoescape %}

                select: function (info) {
                    const fechaInicio = document.getElementById('fecha-inicio-cita');
                    const fechaFin = document.getElementById('fecha-fin-cita');
                    const evento = document.getElementById('evento-cita');
                    const btnShowModal = document.getElementById('btn-show-modal');
                    btnShowModal.click();
                    fechaInicio.value = info.startStr;
                    fechaFin.value = info.endStr;
                    loadingSpecialist(info.startStr);

                },
                eventClick: function (info) {
                    const btnShowModal = document.getElementById('btn-show-detail-modal');
                    btnShowModal.click();
                    console.log(info.event.extendedProps)
                    loadDateDetails(info.event.extendedProps.cita)
                }

            });

            calendar.render();
        });

        function loadingSpecialist(date) {
            const formData = new FormData();
            const specialistSelect = document.getElementById('especialista');
            {#            specialistSelect.innerHTML = "";#}
            formData.append('date', date);
            axios.post("{% url 'main:specialist_by_date' %}", formData).then(function (response) {
                console.log(response)
                const specialistsData = response.data.data;
                specialistSelect.innerHTML = specialistsData.map(function (specialist) {
                    return `<option value="${specialist.id}">${specialist.nombre}</option>`
                }).join('');
            }).catch(function (error) {
                console.log(error)
            })
        }

        function loadDateDetails(dateId) {
            const url = `/citas/detalle/${dateId}`;
            axios.get(url).then(function (response) {
                console.log(response);
                const dateDetails= response.data.data;
                const pacienteName = document.getElementById('nombre-paciente');
                const specialistName = document.getElementById('nombre-especialista');
                const dateTime = document.getElementById('fecha-cita');
                const dateText = document.getElementById('observaciones-cita');
                const dateStatus = document.getElementById('estado-cita');

                const formatDate = dateDetails.fecha.split("T");

                pacienteName.innerHTML = `${dateDetails.paciente.nombre} ${dateDetails.paciente.primer_apellido}`;
                specialistName.innerHTML = `${dateDetails.medico.nombre} ${dateDetails.medico.primer_apellido}`;
                dateTime.innerHTML = `${formatDate[0]} ${formatDate[1].split("-")[0]}`;
                dateText.innerHTML = dateDetails.observaciones == ""? "NO TIENE": dateDetails.observaciones;
                dateStatus.innerHTML = dateDetails.estado.estado == 0? "RESERVADA": "CANCELADA";

            }).catch(function (error) {
                console.log(error)
            })
        }

    </script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for especialidad in leyenda_especialidades %}
                    <div class="col-3 m-2" style="background-color: {{ especialidad.color }}; color:white">
                        {{ especialidad.nombre }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12">
            <div id="calendar"></div>
        </div>
    </div>

    {% include 'cita/modals/crear_cita_paciente.html' %}
        {% include 'cita/modals/detalle_cita_paciente.html' %}
{% endblock %}