{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

{% endblock %}
{% block custom_js %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/locales/es.js'></script>
    <script>
        $(document).ready(function () {
            $('select').select2();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'es',
                initialView: 'timeGridDay',
                {% if fecha_evento %}
                    initialDate: '{{ fecha_evento }}',
                {% endif %}
                timeZone: 'America/Mexico_City',
                selectable: true,
                lazyFetching:true,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventSources:[
                    '{{ url_loadevents }}',
                ],

                eventClick: function (info) {
                    /*const fechaInicio = document.getElementById('fecha-inicio-cita');
                    const fechaFin = document.getElementById('fecha-fin-cita');
                    const nombreEspecialista = document.getElementById('nombre-especialista');
                    const idEspecialista = document.getElementById('especialista');

                    fechaInicio.value = info.event.extendedProps.evento_inicio;
                    fechaFin.value = info.event.extendedProps.evento_fin;
                    evento.value = info.event.extendedProps.evento;
                    nombreEspecialista.innerHTML = `<strong>${info.event.extendedProps.nombre_doctor}</strong>`;
                    idEspecialista.value = info.event.extendedProps.doctor;
                    console.log(info.event.extendedProps.cita)*/ 
                    const date = info.event.extendedProps.cita;
                    getDateDetails(date)
                    .then(function(response){
                        if(response.data.rc!=200) {
                            alert("Ocurrió un error intentando cargar la información del espacio")
                        }
                        const date = response.data.data;                        
                        console.log(date)

                        if(date.paciente == null){
                            openCreateDateModal(date)
                        }else{
                            openModalDateDetails(date)
                        }
                    })
                    .catch(function(error){
                        console.log(error)
                    })
                },
                select: function (info) {
                    /*const btnShowModal = document.getElementById('btn-show-detail-modal');
                    btnShowModal.click();
                    console.log(info.event.extendedProps)
                    loadDateDetails(info.event.extendedProps.cita)*/
                },

            });

            calendar.render();
        });
        
        function openCreateDateModal(date){
            const btnShowModal = document.getElementById('btn-show-modal');
            const dateInfo = document.getElementById('evento-cita');
            const nombreEspecialista = document.getElementById('nombre-especialista');
            dateInfo.value = date.id;
            nombreEspecialista.innerHTML = `<strong>${date.medico.nombre}${date.medico.primer_apellido}</strong>`;
            btnShowModal.click();
        }


        function loadingSpecialist(date) {
            const formData = new FormData();
            const specialistSelect = document.getElementById('especialista');
            {#            specialistSelect.innerHTML = "";#}
            formData.append('date', date);
            axios.post("{% url 'main:specialist_by_date' %}", formData).then(function (response) {
                console.log(response)
                const specialistsData = response.data.data;
                specialistSelect.innerHTML = specialistsData.map(function (specialist) {
                    return `<option value="${specialist.id}">${specialist.especialidad.nombre} ${specialist.nombre} ${specialist.primer_apellido}</option>`
                }).join('');
            }).catch(function (error) {
                console.log(error)
            })
        }

        function getDateDetails(dateId){
            const url = `/citas/detalle/${dateId}`;
            return axios.get(url)            
        }
        function openModalDateDetails(dateDetails) {
            const btnShowModal = document.getElementById('btn-show-detail-modal');
            const btnEdit = document.getElementById('btn-editar-cita');
            const btnDelete = document.getElementById('btn-borrar-cita');
            const pacienteName = document.getElementById('nombre-paciente');
            const specialistName = document.getElementById('nombre-medico');
            const dateTime = document.getElementById('fecha-cita');
            const dateText = document.getElementById('observaciones-cita');
            const dateStatus = document.getElementById('estado-cita');
            const formatDate = dateDetails.fecha_inicio.split("T");

            btnDelete.setAttribute('href', `/citas/borrar/${dateDetails.id}`);
            btnEdit.setAttribute('href', `/citas/editar/${dateDetails.id}`);
            pacienteName.innerHTML = `${dateDetails.paciente.nombre} ${dateDetails.paciente.primer_apellido}`;
            specialistName.innerHTML = `${dateDetails.medico.nombre}`;
            dateTime.innerHTML = `${formatDate[0]} ${formatDate[1].split("-")[0]}`;
            dateText.innerHTML = dateDetails.observaciones == "" ? "NO TIENE" : dateDetails.observaciones;
            dateStatus.innerHTML = getEstadoCita(dateDetails.estado.estado);
            btnShowModal.click();

        }
        function getEstadoCita(estado) {
            switch (estado) {
                case 0:
                    return "RESERVADA";
                case 1:
                    return "CONFIRMADA";
                case 2:
                    return "TERMINADA";
                case -1:
                    return "CANCELADA";
            }
        
        }

    </script>
{% endblock %}
{% block container %}
    <div class="row">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="alert-{{ messages.tags }} alert">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class=" d-none d-md-flex">Seleccione un especialista si desea ver sus citas:</h3>
            <div class="row">
                <div class="col m-2">
                    <a class="badge badge-success" href="/citas/horario">Todos</a>
                </div>
                {% for medico in especialistas %}
                    <div class="col m-2">
                        <a class="badge badge-info"
                           href="/citas/horario?especialista={{ medico.pk }}">{{ medico.nombre }}</a>
                    </div>
                {% endfor %}
            </div>
            <hr>

        </div>

        <div class="col-12 mt-2">
            <div id="calendar" style="min-height:80vh"></div>
        </div>
    </div>

    {% include 'cita/modals/crear_cita_paciente.html' %}
    {% include 'cita/modals/detalle_cita_paciente.html' %}
{% endblock %}