{% extends 'base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="col-12">
        <table class="table table-doctor-calendar">
            <thead>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
            <th>Domingo</th>
            </thead>
            <tbody>
            <tr>
                <td align="center">
                    <a href="{% url 'citas:seleccionar_tipo_cita' horario_id=1%}">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">8:00am</span>
                    </a>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">8:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">8:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">8:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">8:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">8:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">8:00am</span>
                </td>

            </tr>
            <tr>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">9:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">9:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">9:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">9:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">9:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">9:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">9:00am</span>
                </td>

            </tr>

            <tr>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">10:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">10:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">10:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">10:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">10:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">10:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">10:00am</span>
                </td>

            </tr>
            <tr>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">11:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">11:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">11:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">11:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">11:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">11:00am</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">11:00am</span>
                </td>

            </tr>
            <tr>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">12:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">12:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">12:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">12:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">12:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">12:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">12:00pm</span>
                </td>

            </tr>
            <tr>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">1:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">1:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">1:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">1:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">1:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">1:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">1:00pm</span>
                </td>

            </tr>
            <tr>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">2:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">2:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">2:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">2:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">2:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">2:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">2:00pm</span>
                </td>

            </tr>
            <tr>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">3:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">3:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">3:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">3:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">3:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">3:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">3:00pm</span>
                </td>

            </tr>
            <tr>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">4:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">4:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">4:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">4:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">4:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">4:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">4:00pm</span>
                </td>

            </tr>
            <tr>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">5:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">5:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">5:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">5:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">5:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">5:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">5:00pm</span>
                </td>

            </tr>
            <tr>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">6:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">6:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">6:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">6:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">6:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">6:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">6:00pm</span>
                </td>

            </tr>
            <tr>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">7:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">7:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">7:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">7:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">7:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">7:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">7:00pm</span>
                </td>

            </tr>
            <tr>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="monday">8:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Tuesday">8:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Wednesday">8:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Thursday">8:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Friday">8:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Saturday">8:00pm</span>
                </td>
                <td align="center">
                                            <span class="badge badge-info hour-available"
                                                  data-day="Sunday">8:00pm</span>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}